.cart {
  .banner {
    background-color: orange;
    padding: 1rem;
    color: white;
    text-align: center;
  }

  h1 {
    margin-top: 2rem;
    text-align: center;
    font-family: "Raleway Bold";
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6 !important;
  }

  .filledCart {
    background-color: #f5f5f5;
    padding: 2.5rem 0.5rem;
    table {
      width:70%;
  margin-right: 1rem;
      tbody {
        background-color: white;
        tr {
          padding: 3rem;
          border: 1px solid #dee2e6!important;
          .cartProduct{
            padding-top: 3rem;
            button{
              border:none;
              border-radius: 3px;
            }
          }
          td {
            .imgProduct {
              padding: 2rem 2rem 3rem 1rem;
              img {
                width: 7rem;
                height: 7rem;
              }
            }
            .deetProduct{
              margin-top: 0.5rem;
             p{
              font-size: 12px;
              font-family: "Raleway Bold";
             }
             .styleProduct{
              font-size: 14px;
             }

             .trashProduct{
              margin-top: 5rem;
              svg{
                margin-right: 0.5rem;
              }
              font-family: "Raleway Bold";
              font-size: 13px;
              color:red;
             }
            }
          }
        }
      }
    }
    .totalCart{
      width:30%;
      background-color: white;
      padding: 1rem;
      h5{
        font-family: "Raleway Bold";
             
      }
      .total{
        border-bottom: 1px solid #dee2e6!important;
        p{
          font-family: "Raleway Bold";
          font-size: 14px;
          
        }
      }
      .cartButtons{
        button{
          width:100%;
          border: none;
          background-color: black;
          color: white;
          font-size: 12px;
          padding: 1rem;
        }
      }
    }
  }
}