.checkoutNav {
    text-decoration: none;
    color: black;
    

    h6 {
      font-family: "Raleway Bold";
      padding: 1rem 3rem;
    }
  }
.orderBody{
    background-color: #f5f5f5;;
    padding: 3rem;
}