.appYouMayAlsoLike{
    h6{
        border-bottom: 2px solid #e7e7e7;
        padding-bottom: 5px;
    }
    .container{
        .row{
            .col-sm{
                margin: 0!important;
                padding: 0!important;
            }
        }
}
}