
.inputField__label {
  font-family: "Raleway Bold" ;
  margin-top: 1rem;
}

.inputField__field {
  color: #ffffff;
  border: 1px solid grey;
  height: 46px;
  padding: 12px 20px;
  font-size: 12px;
  background: transparent;
  text-align: left;
  font-family: Futura, sans-serif;
  font-weight: 300;
  line-height: 20px;
  border-radius: 5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width:100%;
  max-width: 400px;
}

::placeholder { /* Firefox */
  font-weight: normal;
  color: black;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
  font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  font-weight: normal;
}

input[disabled] {
  background-color: red;
  cursor: default;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);

  &:hover {
    background-color: red;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
    transform: scale(1);
  }
}
