//Raleway

$font-black: "Raleway Black";
$font-blackitalic: "Raleway BlackItalic";
$font-bold: "Raleway Bold";
$font-bolditalic: "Raleway BoldItalic";
$font-extrabold: "Raleway ExtraBold";
$font-extrabolditalic: "Raleway ExtraBoldItalic";
$font-extralight: "Raleway ExtraLight";
$font-extralightitalic: "Raleway ExtraLightItalic";
$font-italic: "Raleway Italic";
$font-light: "Raleway Light";
$font-lightitalic: "Raleway LightItalic";
$font-medium: "Raleway Medium";
$font-mediumitalic: "Raleway MediumItalic";
$font-regular: "Raleway Regular";
$font-semibold: "Raleway SemiBold";
$font-semibolditalic: "Raleway SemiBoldItalic";
$font-thin: "Raleway Thin";
$font-thinitalic: "Raleway ThinItalic";


