.navbar {
  background-color: black;
  padding: 1rem 6rem;

  .navbarLinks {
    width:70%;
    h3 {
      font-family: "Raleway Regular";
    }

    a {
      color: white;
      text-decoration: none;
      font-family: "Raleway Regular";
    }
    p{
      padding-top: 0.5rem;
    }
  }

  .navbarIcons {
    width:10%;
   svg{
    color: white;
    width: 27px;
    height: 27px;
   }
  }

}

@media only screen and (max-width: 1189px) {
  .navbar {
    padding: 0.5rem 0.5rem !important;
    flex-wrap: wrap;
  }

  .navbarLinks {
    flex-wrap: wrap;
    padding: 0.5rem 0.5rem !important;

    a {
      padding-bottom: 1rem;
    }
  }
}