.appBanner {
    background-color: #d4148d;
    margin-top: 2rem;
   
    h6{
        padding: 1rem;
        font-family: "Raleway Bold";
        text-align: center;
        color:white;
        font-style: "Raleway Regular"!important;
    }
    
}
.deliveryBanner{
    img{
        width:100%;
    }
}
.azzyBanner{
    margin-top: 0.5rem;
    border: 8px solid black;
    img{
        width:100%;
    }
}